* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #dedede;
}
.container-calculator {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}
input {
    margin-top: 28px;
    height: 100px;
    width: 448px;
    font-size: 48px;
    text-align: end;
    color: #1C1C1C;
    border: 1px solid;
    background-color: #B0C4DE;
    border: transparent;
    box-shadow: 5px 1px 5px ;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    width: 28em;
    height: 28em;
    margin-top: 3px;
    box-shadow: 5px 5px 10px;
    background-color: rgba(192, 192, 192);
}
.buttons-container #resultado {
    grid-column: span 2;
    font-size: 28px;
    color: #000080;
    background-color:#B0C4DE;
    cursor: pointer;
}
.buttons-container #back {
    font-size: 28px;
    background-color: #4169E1;
    cursor: pointer;
    border: transparent;
    color: #ff0000;
}
.buttons-container #addPonto {
    grid-column: span 2;
}
#limpar {
    color: 	#ff0000;
    background-color: #4169E1;
}
.number {
    font-size: 28px;
    cursor: pointer;
    border: 1px solid transparent;
}
.number:hover {
    background-color: #C0C0C0;
}
.operador {
    font-size: 28px;
    color: #FFF;
    background-color: #6495ED;
    cursor: pointer;
    border: transparent;
}
.sinal {
    font-size: 28px;
    color: #FFF;
    background-color: #6495ED;
    cursor: pointer;
    border: transparent;
}
.container-table {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 8vw;
    left: 48vw;
    line-height: 45px;
    color: #363636;
    background-color: #FFF;
    font-size: 18px;
    border-collapse: collapse;
    border-radius: 3px;
    cursor: pointer;
    overflow-y: scroll;
    max-height: 32vh;
    max-width: max-content;
    scrollbar-width: thin;
    scrollbar-color: #6495ED;
    box-shadow: 5px 5px 10px rgb(30, 85, 156), 
    -5px 0 rgb(0, 7, 100);
}
tr:hover {
    background-color: #C0C0C0;
}
/* Media Queries  */
/* Estilos para dispositivos móveis */
@media only screen and (min-width: 370px) and (max-width: 480px) {

    .container-calculator {
        margin-left: 0;
    }
    .buttons-container {
        height: 56vh;
        width: 100vw;
    }
    input {
        height: 14vh;
        width: 100vw;
    }
    .container-table {

        left: 12vw;
        margin-top: 72vh;
        
    }

}
/* Estilos para tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .container-calculator {
        margin-left: 0;
    }
    #mensagem {
        display: flex;
        position: absolute;
        margin: 0;
        font-size: 12px;
    }
    input {
        margin: 0;
        width: 98vw;
        height: 16vh;
    }
    .buttons-container {
        width: 98vw;
        height: 50vh;
    }

    .container-table {
        left: 0;
        top: 68vh;
    }
}

@media only screen and (orientation: landscape) {
    .container-table {
        left: 64vw;
        top: 4vh;
        max-height: 48vh;
    }
    .buttons-container {
        height: 64vh;
        width: 48vw;
    }
    input {
        width: 48vw;
        height: 18vh;
    }
}
